@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


/* .App {
  width: 50%;
  margin: 10rem auto;
  height: 570px;
} */

/* .slide img {
  width: 20rem;
  margin: 0 auto;
} */

@media screen and (max-width: 768px) {
    .slick-list {
        right: 40px;
    }
}

.slick-next {
    right: 0;
}

.slick-slide {
    margin: 0 auto;
}

.slick-list {
    margin: 0 -30px;
    right: 33px;
}

.slick-track {
    display: flex;
    flex-direction: row;

    gap: 80px;
}

.slide {
  transform: scale(1.0);
  transition: transform 300ms;
  opacity: 0.5;
}

.activeSlide {
  transform: scale(1.0);
  opacity: 1;
  width: 100px;
}

.arrow {
  color: gray;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  width: 100px;
  height: 100px;
}

.arrow svg {
  transition: color 300ms;
  width: 50px;
  height: 50px;
}

.arrow svg:hover {
  transform: scale(2.0);
}

.next {
  right: 0%;
  top: 30%;
}

.prev {
  left: 0%;
  top: 30%;
}